$seawave: #1bb392;
$bluecarbuncle: #80daeb;
$darkbluecarbuncle: #52cbe3;
$lightgreenjungles: #76cfbd;
$greenjungles: #17b393;
$sand: #fad7ac;
$sapphire: #1d84c4;
$lightgray: #e6e6e6;
$lightestgray: #ededed;
$linkblue:#3675c5;
$pinkpiggie: #ffe6ee;
$pinkvalley: #a14a4a;
$lightscarlet: #a8403b;


.red{
    color: $lightscarlet
}
.green{
    color: green;
}
